<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nas.Properties.Settings.testConnectionString" connectionString="Data Source=DESKTOP-SI59FJU\DBSERVER;Initial Catalog=test;Persist Security Info=True;User ID=hh4325;Password=hhh7764;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>